# Ruby CircleCI 2.0 configuration file
version: 2
jobs:
  build:
    docker:
      - image: cimg/ruby:3.3.6-node
        environment:
          PGHOST: localhost
          PGUSER: tehnoholod
          RAILS_ENV: test
      - image: cimg/postgres:16.0
        environment:
          POSTGRES_USER: tehnoholod
          POSTGRES_DB: tehnoholod_db_test
          POSTGRES_PASSWORD: ""
          POSTGRES_HOST_AUTH_METHOD: trust
    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "Gemfile.lock" }}
          - v2-dependencies-

      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v2-dependencies-{{ checksum "Gemfile.lock" }}

      - run: dockerize -wait tcp://localhost:5432 -timeout 1m

      # Database setup
      - run: bundle exec rake db:create
      - run: bundle exec rake db:schema:load

      # run tests!
      - run:
          name: run tests
          command: |
            bundle exec rails test
            bundle exec rubocop
